OPENAI_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# NVIDIA Riva Configuration
RIVA_API_KEY=
# For offline STT (recommended) - parakeet-1-1b-ctc-en-us
RIVA_OFFLINE_ASR_FUNCTION_ID=0e9b18a0-7919-4ffe-944d-2eb394cd69c6
RIVA_OFFLINE_ASR_VERSION_ID=46e36c4d-d350-44aa-aa01-69f84a4a1f4e
# For streaming STT (optional)
NVIDIA_ASR_FUNCTION_ID=52b117d2-6c15-4cfa-a905-a67013bee409
# For TTS
NVIDIA_TTS_FUNCTION_ID=4e813649-d5e4-4020-b2be-2b918396d19d
# Common Riva settings
RIVA_ASR_LANGUAGE=en-US
RIVA_TTS_LANGUAGE=en-US
RIVA_TTS_VOICE_ID=Magpie-ZeroShot.Female-1
RIVA_TTS_MODEL=magpie_tts_ensemble-Magpie-ZeroShot


ENV=local
AGENT_NAME=sovereign
ORGANIZATION_NAME=nv


NVIDIA_API_KEY=<your nvidia dev key>
ZEROSHOT_TTS_NVIDIA_API_KEY=<your nvidia dev key>
RIVA_API_KEY=<This is a problem>
USE_LANGGRAPH=true
LANGGRAPH_BASE_URL=http://127.0.0.1:2024
LANGGRAPH_PORT=2024
LANGGRAPH_ASSISTANT=fraud-notificaion-agent
USER_EMAIL=test@example.com
LANGGRAPH_STREAM_MODE=values
LANGGRAPH_DEBUG_STREAM=true
LANGGRAPH_API_KEY=
LANGSMITH_API_KEY=
LANGCHAIN_API_KEY=
